.ContentContact {
	padding: 0 2%;
	h1 {
		font-size: 1.8em;
		color: $primaryColor;
		padding: 40px 0 20px 0;
	}
	.contactForm{
		padding: 0 4%;
		fieldset {
			padding: .5em 0;
		}
		legend {
			color: $secondaryColor;
			padding: .25em 0 0 0;
			font-size: 1.25em;
		}
		label {
			margin-left: 1.5em;
			display: block;
			&.messageLabel {
				margin-top: .50em;
			}
		}
		span {
			font-size: .8em;
			&.formTitle {
				font-size: 1em;
				display: block;
				margin: 1em 0 .5em 1.5em;
			}
		}
		input {
			
			&.userInput {
				display: block;	
				margin: .25em .25em 1em 0;
				width: 90%;
				padding: .75em;
			}
			&.submitbutton {
				display: block;
				border: #f0d5cc 1px solid;
				padding: .75em;
				background-color: #F0D5CC;
				color: $primaryColor;
				font-size: .75em;
				margin: .75em 0;
				transition: border-radius .75s ease, background-color .75s ease;
				&:hover {
					background: none;
					@include border-radius(20px);
					border: $secondaryColor 1px solid;
				}
			}
		}//end of input
		.contactOptions {
			margin-left: 10px;
		}
		.message {
			display: block;
			width: 90%;
			height: 100px;
			margin-top: .2em;
			border: 1px solid #E3E3E3;
		}
	}//end of contact form
	
}//end of content
@media screen and (min-width: 566px) { 
	.ContentContact {
		h1 {
			padding-top: 20px;
		}
		.contactForm{
			input {
				&.userInput {
					width: 40%;
				}
			}
			.message {
				width: 40%;
			}
		}//end of contact form
	}//end of content contact
}
